{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="lignePage pageFormulaire">
    
        <div class="colonnePage">
            <div class="titre">Connexion</div>
            
            <form method="post">

                {% if error %}
                    <div class="message erreur">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="saisie">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>       
                </div>

                <div class="saisie">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <div class="saisie">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

                <div class="saisie">
                    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                </div>

            </form>
        </div>

    </div>


{% endblock %}
