body{
    margin: 0;
    padding: 0;
    background-color: #FCDC74;
    font-family: "Roboto";
}

main{
    padding-top: 128px;
}

/* Partie Header */

nav{
    position: fixed;
    width: 100%;
    background-color: #E0AD68;
    display: flex;
    justify-content: space-between;
}

nav img{
    width:60px;
    margin: 16px;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color:#454545;
    margin: 0 8px;
}

nav ul li a:hover{
    color:#FFFFFF;
}

/* Responsive Header */

@media screen and (max-width: 1280px) {

    nav ul li a{
        font-size: 20px;
    }

}

@media screen and (max-width: 1105px) {

    nav ul li a{
        font-size: 16px;
    }


}

@media screen and (max-width: 880px) {

    nav ul li a{
        font-size: 13px;
    }

}

/* Structure du site */


main #contenu{
    display: flex;
    flex-direction: column;
}

main #contenu .lignePage .colonnePage{
    margin: 8px;
}

main #contenu .lignePage .colonnePage .titre{
    font-size: 32px;
}

main #contenu .lignePage:last-of-type{
    display: flex;
}

/* Responsive structure du site */

@media screen and (max-width: 1105px) {

    main #contenu .lignePage:last-of-type{
        flex-direction: column;
    }

}

/* Message de réussite */

main #contenu .lignePage .succes{
    padding: 8px;
    background-color: rgba(172,206,85,0.6);
    border: 4px solid #ACCE55;
    color: #8BA83D;
    width: 25%;
    border-radius: 8px;
    margin-left: 8px;
}

/* Page d'accueil - Bienvenue */

main #contenu .bienvenue{
    background: rgba(232,203,146,0.8);
    border-radius: 20px;
    border: 4px solid #E0AD68;
}

main #contenu .bienvenue .titreBienvenue{
    background-color: #E0AD68;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 16px 16px 0px 0px;
}

main #contenu .bienvenue #kesako{
    padding: 12px;
}

main #contenu .bienvenue{
    flex: 1;
}

main #contenu .seancesRecentes{
    flex: 2;
}

main #contenu .seancesRecentes #afficheTout a{
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 4px solid #454545;
    background-color: #E8CB92;
    color: #454545;
    font-weight: bold;
}

main #contenu .seancesRecentes #afficheTout a:hover{
    background-color: #FFFFFF;
}

/* Tableau commun pour la gestion des séances & participations */

main #contenu .lignePage .colonnePage .tableau{
    background-color: #E8CB92;
    border-radius: 20px;
    margin: 8px 0 24px 0;
    border: 4px solid #E0AD68;
}

main #contenu .lignePage .colonnePage .tableau .ligne{
    display: flex;
    padding: 12px 8px;

}

main #contenu .lignePage .colonnePage .tableau .ligne:first-of-type{
    background-color: #E0AD68;
    color: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne{
    width: 15%;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne:first-of-type{
    width: 16%;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne:last-of-type{
    width: 45%;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .miniature img{
    width: 48px;
    height: 48px;
}

main #contenu .lignePage .colonnePage .tableau .ligne:not(:first-of-type) .colonne:not(:first-of-type){
    padding-top: 10px;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions{
    display: flex;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .bouton{
    margin-right: 8px;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .bouton a{
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .bouton a:hover{
    background-color: #FFFFFF;
    color: #454545;
    border: 3px solid #454545;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .afficher a{
    color: #454545;
    background-color: #E0AD68;
    border: 3px solid #454545;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .participer a{
    color: #FFFFFF;
    background-color: #ACCE55;
    border: 3px solid #ACCE55;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .participer a:hover{
    color: #ACCE55;
    border: 3px solid #ACCE55;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .retirer a{
    color: #FFFFFF;
    background-color: #D13;
    border: 3px solid #D13;
}

main #contenu .lignePage .colonnePage .tableau .ligne .colonne .actions .retirer a:hover{
    border: 3px solid #D13;
    color: #D13;
}

/* Mes séances & participations */
main #contenu .mes-seances{
    flex: 2;
}

main #contenu .mes-seances .tableau .ligne .colonne{
    width: 17%;
}

main #contenu .mes-participations{
    flex: 1;
}

main #contenu .mes-participations .tableau .ligne .colonne{
    width: 30%;
}

/* Affichage de toutes les séances */
main #contenu .lignePage .toutes-les-seances{
    flex: 1;
}

main #contenu .mes-participations .tableau .ligne .colonne:nth-last-of-type(3){
    width: 24%;
}

main #contenu .mes-participations .tableau .ligne .colonne:nth-last-of-type(2){
    width: 34%;
}


/* Formulaire */

main #contenu .pageFormulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
}

main #contenu .pageFormulaire .titre{
    text-align: center;
    margin-bottom: 16px;
}

main #contenu .pageFormulaire form{
    width: 200%;
    display: flex;
    flex-direction: column;
}

main #contenu .pageFormulaire form .message{
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
}

main #contenu .pageFormulaire form .erreur{
    background-color: rgba(221,17,51,0.3);
    border: 4px solid #D13;
    color: #D13;
}

main #contenu .pageFormulaire form .saisie{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main #contenu .pageFormulaire form .saisie label{
    flex: 1;
    display: flex;
    padding-right: 32px;
    width: 160px;
    margin-top: 8px;
}

main #contenu .pageFormulaire form .saisie input{
    flex: 2;
    padding: 0.5em;
    margin-bottom: 16px;
}

main #contenu .connexion form .saisie button{
    padding: 0.5em;
}

/** Formulaire de séance **/

main #contenu .pageFormSeance{
    margin-left: 20%;
    margin-right: 20%;
}

main #contenu .pageFormSeance .colonnePage form{
    width: 100%;
}

main #contenu .pageFormulaire form:last-of-type{
    width: auto;
}

main #contenu .pageFormSeance .colonnePage form .formSeance{
    display: flex;
    justify-content: space-evenly;
}

main #contenu .pageFormulaire .colonnePage form .formSeance .saisieSeance:last-of-type .saisie:first-of-type{
    flex-direction: column;
}

main #contenu .pageFormulaire .colonnePage form .formSeance .saisieSeance .saisie textarea{
    resize: none;
    height: 8em;
    width: 50em;
}

main #contenu .pageFormulaire .colonnePage form .formSeance .saisieSeance .actionForm{
    justify-content: start;
}

main #contenu .pageFormulaire .colonnePage form .formSeance .saisieSeance .actionForm > *{
    margin-right: 2em;
}

main #contenu .pageFormulaire .colonnePage form .formSeance .saisieSeance .actionForm a:hover{
    color: #FFFFFF;
}

/* Responsive Formulaire de séance */

@media screen and (max-width: 1105px) {

    main #contenu .pageFormSeance .colonnePage form .formSeance{
        flex-direction: column;
    }

    main #contenu .pageFormulaire .colonnePage form .formSeance .saisieSeance .saisie textarea{
        height: 12em;
        width: 40em;
    }

}

@media screen and (max-width: 680px) {

    main #contenu .pageFormSeance{
        margin-left: 10%;
        margin-right: 10%;
    }

}

/** Mon profil **/

main #contenu .profil .infoIndividuel{
    display: flex;
    max-height: 256px;
}

main #contenu .profil .infoIndividuel .photo{
    margin-right: 32px;
}

main #contenu .profil .infoIndividuel .photo img{
    max-width: 256px;
    max-height: 256px;
}

main #contenu .profil .infoIndividuel .info #titreInfo{
    font-size: 32px;
}

main #contenu .profil .infoIndividuel .info .actions .bouton{
    margin: 24px 0;
}

main #contenu .profil .infoIndividuel .info .actions .bouton a{
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;

}

main #contenu .lignePage .colonnePage .infoIndividuel .info .actions .bouton a:hover{
    background-color: #FFFFFF;
}

main #contenu .lignePage .colonnePage .infoIndividuel .info .actions .modifier a{
    color: #454545;
    background-color: #E0AD68;
    border: 3px solid #454545;
}

main #contenu .lignePage .colonnePage .infoIndividuel .info .actions .retirer a{
    color: #FFFFFF;
    background-color: #D13;
    border: 3px solid #D13;
}

main #contenu .lignePage .colonnePage .infoIndividuel .info .actions .retirer a:hover{
    border: 3px solid #D13;
    color: #D13;
}

/* Info Séance */

main #contenu .lignePage .colonnePage .autreInfoSeance{
    display: flex;
    margin-top: 32px;
}

main #contenu .lignePage .colonnePage .autreInfoSeance .descriptionSeance{
    background-color: rgba(224,173,104,0.4);
    flex: 2;
    margin-right: 16px;
    padding: 8px;
}

main #contenu .lignePage .colonnePage .autreInfoSeance .lesParticipants{
    background-color: #E8CB92;
    border-radius: 20px;
    margin: 8px 0 24px 0;
    border: 4px solid #E0AD68;
    flex: 1;
}

main #contenu .lignePage .colonnePage .autreInfoSeance .lesParticipants #titreParticipant{
    background-color: #E0AD68;
    color: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
    padding: 8px;
    font-size: 24px;
}

main #contenu .lignePage .colonnePage .autreInfoSeance .lesParticipants .participant{
    padding: 8px;
}

main #contenu .lignePage .colonnePage .autreInfoSeance .lesParticipants .participant img{
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 1105px) {

    main #contenu .lignePage .colonnePage .autreInfoSeance{
        flex-direction: column;
    }

}

/* Edition Profil */

main #contenu .pageFormulaire .colonnePage form .saisie .saisieMdp div{
    display: flex;
}

/* Partie footer */

footer{
    position: absolute;
    bottom: 0;
    min-height: 0;
    width: 100%;
    background-color: #E0AD68;
    padding: 16px 0;
}

footer ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

footer ul li:last-of-type{
    margin: 0 60px;
}

footer ul li a{
    text-decoration: none;
    font-size: 20px;
    /*margin:0px 32px;*/
    color:#454545;
}

footer ul li a:hover{
    color:#FFFFFF;
}

/* Responsive structure du site */

@media screen and (max-width: 1105px) {

    footer{

        bottom: -350px;
    }

}

