body{
    margin: 0;
    padding: 0;
    background-color: #FCDC74;
    font-family: "Roboto";
}

main{
    padding-top: 128px;
}

/* Partie Header */

nav{
    position: fixed;
    width: 100%;
    background-color: #E0AD68;
    display: flex;
    justify-content: space-between;
}

nav img{
    width:60px;
    margin: 16px;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color:#454545;
    margin: 0 8px;
}

nav ul li a:hover{
    color:#FFFFFF;
}

/* Responsive Header */

@media screen and (max-width: 1280px) {

    nav ul li a{
        font-size: 20px;
    }

}

@media screen and (max-width: 1105px) {

    nav ul li a{
        font-size: 16px;
    }


}

@media screen and (max-width: 880px) {

    nav ul li a{
        font-size: 13px;
    }

}

/* Structure du site */

#contenu{
    display: flex;
    flex-direction: column;
}

#contenu main .section{
    margin: 8px;
}

#contenu main .section .titre{
    font-size: 32px;
}

#contenu main{
    display: flex;
}

/* Responsive structure du site */

@media screen and (max-width: 1105px) {

    #contenu main{
        flex-direction: column;
    }

}

/* Page d'accueil - Bienvenue */

#contenu main .bienvenue{
    background: rgba(232,203,146,0.8);
    border-radius: 20px;
    border: 4px solid #E0AD68;
}

#contenu main .bienvenue .titreBienvenue{
    background-color: #E0AD68;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 16px 16px 0px 0px;
}

#contenu main .bienvenue #kesako{
    padding: 12px;
}

#contenu main .bienvenue{
    flex: 1;
}

#contenu main .seancesRecentes{
    flex: 2;
}

#contenu main .seancesRecentes #afficheTout a{
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 4px solid #454545;
    background-color: #E8CB92;
    color: #454545;
    font-weight: bold;
}

#contenu main .seancesRecentes #afficheTout a:hover{
    background-color: #FFFFFF;
}

/* Tableau commun pour la gestion des séances & participations */

#contenu main .section .tableau{
    background-color: #E8CB92;
    border-radius: 20px;
    margin: 8px 0 24px 0;
    border: 4px solid #E0AD68;
}

#contenu main .section .tableau .ligne{
    display: flex;
    padding: 16px 8px;

}

#contenu main .section .tableau .ligne:first-of-type{
    background-color: #E0AD68;
    color: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
}

#contenu main .section .tableau .ligne .colonne{
    width: 15%;
}

#contenu main .section .tableau .ligne .colonne:first-of-type{
    width: 10%;
}

#contenu main .section .tableau .ligne .colonne:last-of-type{
    width: 31%;
}

#contenu main .section .tableau .ligne .colonne .miniature img{
    width: 48px;
    height: 48px;
}

#contenu main .section .tableau .ligne:not(:first-of-type) .colonne:not(:first-of-type){
    padding-top: 10px;
}

#contenu main .section .tableau .ligne .colonne .actions{
    display: flex;
}

#contenu main .section .tableau .ligne .colonne .actions .bouton{
    margin-right: 8px;
}

#contenu main .section .tableau .ligne .colonne .actions .bouton a{
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
}

#contenu main .section .tableau .ligne .colonne .actions .bouton a:hover{
    background-color: #FFFFFF;
    color: #454545;
    border: 3px solid #454545;
}

#contenu main .section .tableau .ligne .colonne .actions .afficher a{
    color: #454545;
    background-color: #E0AD68;
    border: 3px solid #454545;
}

#contenu main .section .tableau .ligne .colonne .actions .participer a{
    color: #FFFFFF;
    background-color: #ACCE55;
    border: 3px solid #ACCE55;
}

#contenu main .section .tableau .ligne .colonne .actions .participer a:hover{
    color: #ACCE55;
    border: 3px solid #ACCE55;
}

#contenu main .section .tableau .ligne .colonne .actions .retirer a{
    color: #FFFFFF;
    background-color: #D13;
    border: 3px solid #D13;
}

#contenu main .section .tableau .ligne .colonne .actions .retirer a:hover{
    border: 3px solid #D13;
    color: #D13;
}

/* Mes séances & participations */
#contenu main .mes-seances{
    flex: 2;
}

#contenu main .mes-seances .tableau .ligne .colonne{
    width: 20%;
}

#contenu main .mes-participations{
    flex: 1;
}

#contenu main .mes-participations .tableau .ligne .colonne{
    width: 30%;
}

/* Formulaire */

#contenu main .pageFormulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
}

#contenu main .pageFormulaire .titre{
    text-align: center;
    margin-bottom: 16px;
}

#contenu main .pageFormulaire form{
    width: 200%;
    display: flex;
    flex-direction: column;
}

#contenu main .pageFormulaire form .message{
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
}

#contenu main .pageFormulaire form .erreur{
    background-color: rgba(221,17,51,0.3);
    border: 4px solid #D13;
    color: #D13;
}

#contenu main .pageFormulaire form .saisie{
    display: flex;
    justify-content: center;
}

#contenu main .pageFormulaire form .saisie label{
    flex: 1;
    display: flex;
    padding-right: 32px;
    width: 160px;
    margin-top: 8px;
}

#contenu main .pageFormulaire form .saisie input{
    flex: 2;
    padding: 0.5em;
    margin-bottom: 16px;
}

#contenu main .connexion form .saisie button{
    padding: 0.5em;
}

/** Mon profil **/

#contenu main .profil .mon-compte{
    display: flex;
    max-height: 200px;
}

#contenu main .profil .mon-compte .avatar{
    width: 256px;
    height: 256px;
}

#contenu main .profil .mon-compte .info #pseudo{
    font-size: 32px;
}

#contenu main .profil .actions .bouton{
    margin: 24px 0;
}

#contenu main .profil .actions .bouton a{
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;

}

#contenu main .section .actions .bouton a:hover{
    background-color: #FFFFFF;
}

#contenu main .section .actions .modifier a{
    color: #454545;
    background-color: #E0AD68;
    border: 3px solid #454545;
}

#contenu main .section .actions .retirer a{
    color: #FFFFFF;
    background-color: #D13;
    border: 3px solid #D13;
}

#contenu main .section .actions .retirer a:hover{
    border: 3px solid #D13;
    color: #D13;
}

/* Partie footer */

footer{
    position: absolute;
    bottom: 0;
    min-height: 0;
    width: 100%;
    background-color: #E0AD68;
    padding: 16px 0;
}

footer ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

footer ul li:last-of-type{
    margin: 0 60px;
}

footer ul li a{
    text-decoration: none;
    font-size: 20px;
    /*margin:0px 32px;*/
    color:#454545;
}

footer ul li a:hover{
    color:#FFFFFF;
}

/* Responsive structure du site */

@media screen and (max-width: 1105px) {

    footer{

        bottom: -350px;
    }

}

