{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Page Admin - Ludibique{% endblock %}

{% block body %}
    <div class="accueilAdmin">
        <h1>La Page Admin Ludibique</h1>
    </div>
{% endblock %}