<nav class="menuHeader">
    
    <img src="LudibiqueLogo.png" alt="Logo Ludibique">

    <ul>
        <li><a href="#">Mes participations & séances</a></li>
        <li><a href="#">Organiser une séance</a></li>
        <li><a href="#">Mon profil</a></li>
    </ul>

</nav>